@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplusrounded1c/v10/VdGBAYIAV6gnpUpoWwNkYvrugw9RuM064ZsK.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v17/FwZY7-Qmy14u9lezJ96A.ttf) format('truetype');
}
@font-face {
  font-family: 'Conv_Roboto-Bold';
  src: url('../../font/RobotoBold/Roboto-Bold.eot');
  src: local('☺'), url('../../font/RobotoBold/Roboto-Bold.woff') format('woff'), url('../../font/RobotoBold/Roboto-Bold.ttf') format('truetype'), url('../../font/RobotoBold/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Roboto-Regular';
  src: url('../../font/RobotoRegular/Roboto-Regular.eot');
  src: local('☺'), url('../../font/RobotoRegular/Roboto-Regular.woff') format('woff'), url('../../font/RobotoRegular/Roboto-Regular.ttf') format('truetype'), url('../../font/RobotoRegular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.img_adaptive {
  width: 100%;
  height: auto;
}
/* Header */
.header {
  width: 100%;
  height: auto;
  border-color: blue;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 19%;
  overflow: hidden;
}
.header .text_header {
  width: 100%;
  height: auto;
  border-color: red;
  text-align: center;
  font-family: 'Pacifico', cursive;
  letter-spacing: 0.11em;
  font-size: 3vw;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  z-index: 2;
}
.header .text_header span.christmas {
  color: #d72323;
}
.header .position_image__header {
  width: 100%;
  height: auto;
  border-color: #10A745;
  position: absolute;
  content: "";
  bottom: -30%;
}
/* End Header */
/* Main Present */
.main {
  width: 100%;
  height: auto;
  border-color: blue;
  background-color: #d72323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Right block */
  /* End Right block */
}
.main .left__main {
  width: 85%;
  height: auto;
  border-color: orange;
  padding-left: 14%;
  padding-top: 4%;
  padding-bottom: 12%;
  position: relative;
}
.main .left__main .text_block__left__main {
  width: 34%;
  height: auto;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: #ffffff;
  background-color: #d72323;
  font-family: 'Conv_Roboto-Bold';
  color: #ffffff;
  letter-spacing: 0.11em;
  padding-top: 6%;
  padding-bottom: 10%;
  font-size: 1.4vw;
  border-radius: 0.3vw;
  text-align: center;
  line-height: 120%;
  position: relative;
  z-index: 3;
}
.main .left__main .position_sleigh__left__main {
  width: 35%;
  height: auto;
  border-color: #ffffff;
  position: absolute;
  top: 27%;
  left: 17%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 4;
}
.main .left__main .position_present__left__main {
  width: 8%;
  height: auto;
  border-color: blue;
  position: absolute;
  top: -2%;
  left: 40%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: easy-out;
          transition-timing-function: easy-out;
}
.main .left__main .position_present__left__main:nth-child(4) {
  left: 35%;
  top: 2%;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
}
.main .left__main .position_present__left__main:nth-child(5) {
  left: 26%;
  top: -1%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  z-index: 2;
}
.main .left__main .position_present__left__main:nth-child(6) {
  left: 22%;
  top: 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.main .left__main .position_present__left__main:nth-child(7) {
  top: -20%;
  left: 32%;
  -webkit-transform: rotate(-16deg);
          transform: rotate(-16deg);
}
.main .left__main .position_present__left__main:nth-child(8) {
  width: 10%;
  top: -29%;
  left: 20%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(3) {
  -webkit-transform: rotate(20deg) translateY(-40%);
          transform: rotate(20deg) translateY(-40%);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(4) {
  -webkit-transform: rotate(-16deg) translateY(-50%);
          transform: rotate(-16deg) translateY(-50%);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(5) {
  -webkit-transform: rotate(8deg) translateY(-60%);
          transform: rotate(8deg) translateY(-60%);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(6) {
  -webkit-transform: rotate(-10deg) translateY(-100%);
          transform: rotate(-10deg) translateY(-100%);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(7) {
  -webkit-transform: rotate(-16deg) translateY(-60%);
          transform: rotate(-16deg) translateY(-60%);
}
.main .left__main .text_block__left__main:hover ~ .position_present__left__main:nth-child(8) {
  -webkit-transform: rotate(-50deg) translateY(-60%);
          transform: rotate(-50deg) translateY(-60%);
}
.main .right__main {
  width: 50%;
  height: auto;
  border-color: orange;
  position: relative;
}
.main .right__main .present__right__main {
  width: 53%;
  height: auto;
  border-color: black;
  overflow: hidden;
  position: absolute;
  left: -36%;
  top: -15%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}
.main .right__main .present__right__main .img__present__right__main {
  width: 100%;
  height: auto;
  border-color: yellow;
}
.main .right__main .present__right__main .text__present__right__main {
  width: 100%;
  height: auto;
  border-color: #09862F;
  margin-left: 35%;
  font-family: 'Conv_Roboto-Bold';
  letter-spacing: 0.11em;
  color: #ffffff;
  font-size: 1.8vw;
}
.main .right__main .order__right__main {
  width: 60%;
  height: auto;
  border-color: #14C5FF;
  position: absolute;
  top: 80%;
  left: -47%;
  z-index: 2;
}
.main .right__main .order__right__main .top_text__order__right__main {
  text-align: center;
  font-family: 'Conv_Roboto-Bold';
  color: #ffffff;
  letter-spacing: 0.11em;
  font-size: 1.3vw;
}
.main .right__main .order__right__main .bottom_button__order__right__main {
  width: 63%;
  height: auto;
  border-style: solid;
  border-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-family: 'Conv_Roboto-Bold';
  color: #ffffff;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.5vw;
  border-width: 0.3vw;
  border-radius: 0.5vw;
  letter-spacing: 0.11em;
  margin-top: 5%;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.main .right__main .order__right__main .bottom_button__order__right__main:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.main .right__main .order__right__main .position_arrow__order__right__main {
  width: 14%;
  height: auto;
  border-color: black;
  position: absolute;
  top: 38%;
  left: 83%;
}
.main .right__main .position_deer__right__main {
  width: 90%;
  height: auto;
  border-color: #B21396;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: easy-in;
          transition-timing-function: easy-in;
}
.main .right__main .order__right__main:hover ~ .position_deer__right__main {
  -webkit-transform: translateY(-10%) rotate(10deg);
          transform: translateY(-10%) rotate(10deg);
}
/* End Main Present */
.red_background {
  width: 100%;
  height: 1vw;
  background-color: #d72323;
  border-color: yellow;
  position: relative;
  overflow: hidden;
  padding-top: 23%;
}
.red_background img {
  position: absolute;
  top: -1%;
  border-color: blue;
}
/* Dignity */
.dignity {
  width: 80%;
  height: auto;
  border-color: blue;
  background-color: white;
  margin: 0 auto;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5%;
}
.dignity .mini_block__dignity {
  width: 11%;
  height: auto;
  border-color: red;
  position: relative;
  padding-bottom: 1.1%;
  overflow: hidden;
}
.dignity .mini_block__dignity:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2%;
  background-color: #000000;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
.dignity .mini_block__dignity:hover:before {
  left: 0;
}
.dignity .mini_block__dignity:hover .top_image__mini_block__dignity {
  -webkit-transform: rotate(13deg);
          transform: rotate(13deg);
}
.dignity .mini_block__dignity .top_image__mini_block__dignity {
  width: 70%;
  height: auto;
  border-color: black;
  margin: 0 auto;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.dignity .mini_block__dignity .text__mini_block__dignity {
  width: 100%;
  height: auto;
  border-color: #109253;
  color: #000000;
  text-align: center;
  font-family: 'Conv_Roboto-Bold';
  letter-spacing: 0.11em;
}
/* End Dignity */
/* Footer */
.footer {
  width: 100%;
  border-color: blue;
  overflow: hidden;
  position: relative;
}
.footer .background__footer {
  width: 100%;
  height: 30vw;
  border-color: red;
  position: relative;
}
.footer .background__footer img {
  position: absolute;
  top: -70%;
}
.footer .block__footer {
  width: 100%;
  height: auto;
  border-color: yellow;
  position: relative;
  background-color: #d72323;
}
.footer .block__footer .top_image__block__footer {
  width: 6%;
  height: auto;
  border-color: black;
  margin: 0 auto;
}
.footer .block__footer .bottom_text__block__footer {
  width: 100%;
  height: auto;
  border-color: bleck;
  text-align: center;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 2.4vw;
  letter-spacing: 0.11em;
  padding-top: 1%;
  padding-bottom: 4%;
}
/* End Footer */
.back {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 3.4%;
  height: auto;
  border-color: blue;
  z-index: 3;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.back:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (max-width: 414px) {
  /* Adaptive header */
  .header {
    padding-bottom: 22%;
  }
  .header .text_header {
    font-size: 4.4vw;
  }
  /* End Adaptive header */
  /* Adaptive main */
  .main {
    padding-top: 13%;
  }
  .main .left__main .text_block__left__main {
    width: 60%;
    padding-top: 10%;
    font-size: 2.5vw;
    border-radius: 0.6vw;
    border-width: 0.6vw;
  }
  .main .left__main .position_sleigh__left__main {
    width: 60%;
    left: 14%;
    top: 30%;
  }
  .main .left__main .position_present__left__main {
    left: 60%;
    width: 16%;
    top: -14%;
    left: 57%;
  }
  .main .left__main .position_present__left__main:nth-child(4) {
    left: 47%;
    top: -10%;
  }
  .main .left__main .position_present__left__main:nth-child(5) {
    top: -10%;
  }
  .main .left__main .position_present__left__main:nth-child(6) {
    top: -10%;
    left: 15%;
  }
  .main .left__main .position_present__left__main:nth-child(7) {
    top: -40%;
    left: 40%;
  }
  .main .left__main .position_present__left__main:nth-child(8) {
    top: -45%;
    width: 19%;
    left: 16%;
  }
  .main .right__main .present__right__main {
    width: 70%;
    top: -40%;
    left: -12%;
  }
  .main .right__main .present__right__main .text__present__right__main {
    font-size: 2.7vw;
  }
  .main .right__main .order__right__main {
    width: 120%;
    left: -30%;
    top: 50%;
  }
  .main .right__main .order__right__main .top_text__order__right__main {
    font-size: 2.5vw;
  }
  .main .right__main .order__right__main .bottom_button__order__right__main {
    font-size: 2.9vw;
    border-width: 0.5vw;
    border-radius: 1vw;
  }
  .main .right__main .position_deer__right__main {
    display: none;
  }
  .red_background {
    padding-top: 30%;
  }
  .red_background img {
    top: 22%;
  }
  .dignity {
    width: 100%;
  }
  .dignity .mini_block__dignity .top_image__mini_block__dignity {
    width: 100%;
  }
  .dignity .mini_block__dignity .text__mini_block__dignity {
    font-size: 1.9vw;
  }
  /* End Adaptive main */
  /* Adaptive Footer */
  .footer .background__footer {
    height: 40vw;
  }
  .footer .background__footer img {
    top: -40%;
  }
  .footer .block__footer .top_image__block__footer {
    width: 10%;
  }
  .footer .block__footer .bottom_text__block__footer {
    font-size: 3.9vw;
  }
  /* End Adaptive Footer */
  .back {
    width: 8%;
  }
}
